body   {
    background-image: linear-gradient(135deg, rgb(22, 76, 115), 
                        rgba(247, 56, 56, 0.812), 
                        rgb(124, 206, 229)) !important;
    font-family: 'Baumans' !important;
}
h1, h2, h3  {
    font-family: 'Righteous';
}
.contact    {
    display:flex;
    justify-content: space-between;
}
.contact-img    {
    width: 25%;
}
.w3-button    {
    padding: 1%;
    width: 49%;
}
.w3-button a  {
    text-decoration: none;
}
.contact-img img {
    width: 110%;
    padding-top: 4.8em;
}
.cookie {
    width: 30%;
    border: solid 1px teal;
}
#counter, #counter_text {
    text-align: center;
}
.summary    {
    font-size: 1.3em;
}
.w3-content {
    overflow: hidden;
}
.w3-card-3, .w3-card-4 {
    padding-bottom: 99999px !important;
    margin-bottom: -99999px !important;
}
ul li {
    font-family: 'Baumans';
}
h1  {
    font-size: 3em;
}
.edu p, h6 {
    font-size: 80%;
    margin: 0;
}
ul li, p:not(p.w3-medium)   {
    font-weight: lighter !important;
}
h5, p.skills    {
    font-family: 'Orbitron';
}
p.skills.w3-margin-left    {
    letter-spacing: .2em;
    margin-bottom: 0 !important;
}
div.w3-light-grey.w3-round-xlarge.w3-small.w3-margin {
    margin-top: 0 !important;
}
.w3-text-black h5   {
    font-size: 80%;
    font-weight: 200;
    letter-spacing: .2em;
}
.w3-display-container   {
    background-image: linear-gradient(-225deg, rgb(39, 230, 255), teal,rgb(10, 25, 75));
}
@media screen and (max-width:1024px) {
    h1              {font-size: 2em;text-align: center;}
    .contact,
    .contact-text,
    .contact-img    {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .contact-text p button    {line-height: .5em !important;}
    .contact-img img    {width: 35%;padding-top: 0;}
    .contact h5 i       {display: none;}
    .w3-button          {width: unset;}
}
@media screen and (max-width:960px) {
    .w3-twothird    {height: unset !important;}
    .w3-card-4      {height: auto !important;}
    .edu p, h6      {font-size: 100%;}
}